
#name {
  font-family: 'Sacramento', cursive;
  font-size: 5em;
  margin: 0;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-size: 1rem;
  line-height: 2;
}

.top-container {
  position: relative;
  background-color: #F6F6E9;
  color: #194769;
  padding-top: 70px;
  padding-bottom: 70px
}


body{
  margin: 0;
  text-align: center;
}

div {
  padding: 2%;
}

h1{
  font-family: 'Courgette', cursive;
  font-size: 300%;
}

h2{
  font-family: 'Courgette', cursive;
  font-size: 200%;
  margin: 10 0 10 0;
}

h3{
  font-family: 'Courgette', cursive;
  font-size: 130%;
  margin: 0;
}

p{
  margin: 0;
}

hr{
  background-color: #2D46B9;
  border-width: 0 0 1px;
  border-image: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 100%, 0.5) 50%,
    hsla(0, 0%, 100%, 0) 100%) 0 0 100%;
  border-style: solid;
  color: #2D46B9;
  margin: 60px;
}

a{
  color: #F037A5;
  font-weight: bold;
  text-decoration: none;
}

a:hover{
  color: #FF96AD;
}

table {
  font-size: 1.5rem;
  margin: auto;
  text-align: left;
}

.middle-container {
  background-color: #194769;
  color: #F6F6E9;
}

.bottom-container {
  background-color: #F6F6E9;
  color: #194769;
  margin: 20 0 100px
}

.top-cloud{
  position: absolute;
  top: 8%;
  right: 20%;
}

.bottom-cloud{
  position: absolute;
  left: 20%;
  top: 70%;
}

.profile-image{
  width: 25%;
  margin-top: 80px;
}

.skill-images{
  margin-top: 20px;
  width: 120px;
}

.sns-images{
  width: 6%;
  margin: 0.5%;
}

.subtitle{
  font-weight: normal;
  margin-top: 0;
}

.skill-row{
  margin: 50px auto 50px auto;
}

.adjustment{
  border: none;
  margin: 5px;
}

.copyright {
  font-size: 0.7rem;
  margin: 15px 0 50px 0;
}

.pizza {
  width: 500px;
}

.cart-image{
  width: 30px;
}
