
#name {
  font-family: 'Sacramento', cursive;
  font-size: 5em;
  margin: 0;
  /*デフォ16PXなので、16*5にすると80pxになれる。*/
  /*emでのサイズ…1emは大文字M一つ分の幅ということ*/
  /* 16px = 100% = 1em %とemは動的(PC環境設定によって)にサイズが変わるので「%」「em」おすすめ*/
  /*親の設定が子に引き継がれどんどん大きくなるが「rem」なら親の設定がセ\リセットされる！*/
}

html {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-size: 1.3rem;
  line-height: 2;
}

.top-container {
  position: relative;
  background-color: #F6F6E9;
  color: #194769;
  padding-top: 80px;
  padding-bottom: 80px
}


body{
  margin: 0;
  text-align: center; /*widthが設定されていないものの中央揃え*/
}

div {
  padding: 2%;
}

h1{
  font-family: 'Courgette', cursive;
  font-size: 200%;
}

h2{
  font-family: 'Courgette', cursive;
  font-size: 170%;
  margin: 10 0 10 0;
}

h3{
  font-family: 'Courgette', cursive;
  font-size: 140%;
  margin: 0;
}

p{
  margin: 0;
}

hr{
  background-color: #2D46B9;
  border-width: 0 0 1px;
  border-image: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 100%, 0.5) 50%,
    hsla(0, 0%, 100%, 0) 100%) 0 0 100%;
  border-style: solid;
  color: #2D46B9;
  margin: 100px 200px 100px 200px;
}

a{
  color: #F037A5;
  font-weight: bold;
  text-decoration: none;
}

a:hover{
  color: #FF96AD;
}

table {
  margin: auto;
  text-align: left;
}

.middle-container {
  background-color: #194769;
  color: #F6F6E9;
}

.bottom-container {
  background-color: #F6F6E9;
  color: #194769;
  margin: 40 0 120px
}

.top-cloud{
  position: absolute;
  top: 8%;
  right: 20%;
}

.bottom-cloud{
  position: absolute;
  left: 20%;
  top: 70%;
}

.profile-image{
  width: 220px;
  margin-top: 80px;
}

.skill-images{
  margin-top: 20px;
  width: 130px;
}

.sns-images{
  width: 50px;
  margin: 0.5%;
}

.subtitle{
  font-weight: normal;
  margin-top: 0;
}

.skill-row{
  margin: 50px auto 50px auto;
}

.adjustment{
  border: none;
  margin: 5px;
}

.copyright {
  font-size: 0.7rem;
  margin: 15px 0 50px 0;
}

.pizza {
  width: 500px;
}

.cart-image{
  width: 50px;
}

.to-shop{

}